.container {
  padding: 0 15px;
  min-width: 450px;
  max-width: 450px;
  margin: 0 auto;
  width: 500px;
  height: fit-content;
}

.container .buttons button:first-child{
  background: #439775;
  border-color: #439775;
}

.container .buttons button:first-child:focus, .container .buttons button:first-child:hover{
  background: #4cca95;
  border-color: #439775;
}

.container .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
